@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
 --pricolor:#3E3232;
 --defaultfont:1rem;
 --background:#FFFFFF;
 --secolor2:#443434;
--secolor1: #3E3232;
 --textheadcolor:#020202;
 --ff:"Poppins", sans-serif;
 --commande:#DFCECE;
 --colorbor:#FFD93D;
 --bgform: #DFCECE30;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: var(--defaultfont);
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.liste{
    font-family: var(--ff);
    color:var(--textheadcolor);
    display: flex;
    gap: 7rem;
    justify-content: space-around;
    list-style-type: none;
}

.bouton{
    font-size: .8rem;
    padding: 1rem 2rem;
    border: 1px solid ;
    background: var(--pricolor);
    color: #FFFFFF;
}

.commande{
    margin: 0 0 5rem 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5rem;
}

.commande h1{
    margin: 7rem 0 3rem 0;
    font-family: var(--ff);
}

.commande p{
    color: #000;
    font-family: var(--ff);
    padding: 0 0 3rem 0;
    font-size: 1rem;
}

.commande button{
    margin: 5rem 0 0 0;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    color: var(--commande);
    background: var(--secolor1);
}

.million{
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--secolor1);
}

.million h1{
    font-family: var(--ff);
    color: #fff;
    font-size: 3rem;
}

.million p {
    font-family: var(--ff);
    color: #fff;
    font-size: .7rem;
}

.produits{
    display: flex;
    justify-content: center;
    gap: 30rem;
    margin: 5rem 3rem;
}

.produits .produits_gum{
    border: 1px solid #FFD93D;
    box-shadow: 0 1rem 1rem 0 #00000040;

}

.produits .produits_mambo {
    margin: 5rem 0 0;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 13rem;
    border-top-left-radius: 13rem;
    border-top-right-radius: 15rem;
    border: 1px solid #FFD93D;
    box-shadow: 0 1rem 1rem 0 #00000040;

}

.produits .produits_tartinat {
    border-bottom-right-radius: 30rem;
    border-bottom-left-radius: 45rem;
    border-top-left-radius:60rem;
    border-top-right-radius:60rem;
    border: 1px solid #FFD93D;
    box-shadow: 0 1rem 1rem 0 #00000040;

}

.produits .produits_kola {
    margin: 5rem 0  0;
    border: 1px solid #FFD93D;
    box-shadow: 0 1rem 1rem 0 #00000040;

}

.formulaire{
    height: 30rem;
    display: grid;
    justify-content: center;
    grid-template-areas: "";
    background: var(--bgform);
}

.formulaire .formulaire_bouton{
    font-size: 1.5rem;
    color: #FFFFFF;
    text-transform: capitalize;
    border: .1rem solid;
    padding: .5rem;
    width: 15rem;
    background: var(--secolor2);
}

.vide{
    height: 20rem;
}

footer{
    display: flex;
    justify-content: center;
    height: 30rem;
    background: var(--secolor2);
}
footer img{
    width: 25rem;
}